.transaction {
  background-color: white;
  border: 1px solid grey;
  margin-bottom: 10px;
  font-size: x-large;
  display: block;
  text-align: start;
}

.transaction summary {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  padding: 10px 5px 10px 47px;
  text-align: center;
}

.transaction summary::-webkit-details-marker,
.transaction summary::marker {
  display: none;
}

.transaction summary .fa-chevron-down {
  position: absolute;
  font-size: xx-large;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.transaction[open] summary .fa-chevron-down {
  transform: translateY(-50%) rotate(180deg);
}

.transaction summary > * {
  min-width: max-content;
}

.transaction-detail {
  padding: 0 50px;
}

.transaction-detail select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  position: relative;
  padding: 0.5em 2em 0.5em 1em;
  color: #fff;
  font-weight: bold;
  font-size: large;
  background-color: #12002b;
  cursor: pointer;
  /* Arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
}
.formNote {
  width: fit-content;
}
.formNote textarea {
  resize: none;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  display: inline-block;
  width: min(100%, 650px);
}

.formNote button {
  width: 100px;
  max-width: 100%;
  font-weight: bold;
  color: white;
  background-color: #00bc77;
  border-color: #00bc77;
  padding: 5px;
}

.formNote button.cancel {
  border-color: #f44336;
  background-color: #f44336;
}

.formNote .buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
